.home-page-cantainer {
  width: 100%;
  height: 100%;
}

.nav-container {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.home-logo{
  width: 160px;
}

.nav-button {
  margin-top: 8px;
  margin-left: 8px;
  padding: 8px;
  border: var(--font) 1px solid;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem rgba(0, 0, 0.5);
  text-shadow: 0 0 2px rgba(0, 0, 0.5);
  
}

.image-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.social-icon{
  width: 16px;
  height: 16px;
  margin: 8px;
  padding-left: 4px;
  padding-right: 4px;
  fill: var(--font);
  box-shadow: 0 0 5rem rgba(0, 0, 0.5);
}


.icon-link {
  background: transparent;
  border: none;
}

.icon-link:hover {
  outline: 1px solid var(--font);
}


@media only screen and (max-width: 900px) {

  .nav-button {
    width: 100%;
    margin-left: 0px !important;
  }
}