.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.space-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}

.full {
  width: 100%;
}

.title {
  text-align: center;
}

.nav-button {
  margin-top: 8px;
  margin-left: 8px;
  padding: 8px;
  border: gray 1px solid;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

.page-container {
  padding: 80px;
}

.about-info {
  width: 20%;
}

.about-icon {
  width: 64px;
}

.line {
  width: 2px;
  flex: none;
  background: gray;
  margin: 32px;
}


@media only screen and (max-width: 800px) {

  .page-container {
    padding: 16px;
  }

  .space-container {
    display: block;
  }

 .about-info {
   width: 100%;
 }

 .line{
  width: auto;
  height: 2px;
 }

}