.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.space-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 32px;
}

.full {
  width: 100%;
}

.title {
  text-align: center;
}

.nav-button {
  margin-top: 8px;
  margin-left: 8px;
  padding: 8px;
  border: gray 1px solid;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

.page-container {
  padding: 80px;
}

.center-page {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.about-info {
  width: 20%;
}

.about-icon {
  width: 64px;
}

.small-icon {
  width: 32px;
  fill: gray;
  stroke: gray;
  margin-right: 32px;
}

.icon-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  padding: 16px;
}

.line {
  width: 2px;
  flex: none;
  background: gray;
  margin: 32px;
}

.nonlink {
  text-decoration: none;
}


@media only screen and (max-width: 800px) {

  .page-container {
    padding: 16px;
  }

  .space-container {
    display: block;
  }

 .about-info {
   width: 100%;
 }

 .line{
  width: auto;
  height: 2px;
 }

}