:root {
  --font: rgba(242, 241, 239, 1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button:focus {
  outline: 2px var(--font) solid;
}

body{
  color: var(--font);
  background-color: black;
  text-shadow: 0 0 20px rgba(0, 0, 0.5);
}

button{
  color: var(--font);
  background: transparent;
  border: solid 2px var(--font);
  text-shadow: 0 0 20px rgba(0, 0, 0.5);
}

p {
  text-align: center;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

input {
  margin-right: 8px;
}

h2 {
  margin: 16px;
}

.zlider{
  filter: brightness(50%);
}

.skrim {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5rem rgba(0, 0, 0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
